__pycache__/
.vscode/
CustomBlenderProc/GeneratedScenesBop/
CustomBlenderProc/BackgroundTextures
CustomBlenderProc/datasets

CustomPoET/YoloOutput/
CustomPoET/YoloRuns/

CustomPoET/PreTrained/
CustomPoET/PoetOutput/
CustomPoET/PoetDataset/
